.about_us{
    display: flex;
    align-items: flex-start;
}

.card {
    flex-basis: calc((100% - 90px)/4);
     &:not(:last-child) {
    margin-right: 30px;
  }
}


    .title_about_us {
        @include font(700, 14px,1.14, 0.03cm);
    text-transform: uppercase;
        color:var(--primary-text-color-theme-light);
       margin-top: 30px;
        margin-bottom: 10px;
    }
     .text_about_us{
         @include font(400, 14px,1.71, 0.03cm);
    color:var(--secondary-text-color-theme-light);
     }

 .bcg{
    background-color: #F5F4FA;
border-radius: 4px;
 }

 .icons_about_us{
margin: 25px 100px;
 }