
.page_header_container{
    display: flex;
    align-items: center;
}

.page_nav{
    display: flex;

}


    .menu{
        display: flex;
        column-gap: 50px;
        padding-top: 32px;
        padding-bottom:32px ;
    }

        .menu__link  {
            @include font(500, 14px, 1.14, 0.02cm);
        color:var(--primary-text-color-theme-light);
        transition:color var(--transition-dur-and-func);
        position: relative;
        padding-top:32px;
        padding-bottom: 32px;
        }
 
.contacts_header{
    display: flex;
    column-gap: 50px;
   margin-left: auto;
    padding-top:32px ;
    padding-bottom: 32px;
    align-items: baseline;
  }


  .contacts_header__link {
    @include font(500, 14px, 1.14, 0.02cm);
    color:var(--secondary-text-color-theme-light);
    display: flex;
    align-items: center;
    transition:color var(--transition-dur-and-func);
    
    .menu__link:hover , &:hover, 
    .menu__link:focus , &:focus 
     {
     color:var(--accent-color);
      }
    }
 
    .current {
        color:var(--accent-color);
        
        &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
      }
    }

    .contacts_header__icon{
    margin-right: 10px;
    fill: currentColor;
   }
