@mixin font($fw, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing:$ls;
    }

.first_logo{
    @include font(700, 26px, 1.19, 0.03cm);
    font-family: 'Raleway',sans-serif;
        color:var(--first-logo-text-color);
        text-decoration: none;
   margin-right: 93px;
   padding-top: 24px;
   padding-bottom: 25px;

    }
    .item_web{
        color:var(--accent-color)
    }

    .second_logo{
        @include font(700, 26px, 1.19, 0.03cm);
        font-family:'Raleway',sans-serif;
            color:var(--accent-color) ;
            color:var(--primary-text-color-theme-dark);
            text-decoration: none; 
        }